html {
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
}


.navDialog {
  width: 95vw;
  text-align: center;
  margin-top: 9px;
  transition: all .5s ease-in-out;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
}

.navDialog.opened {  
  transform: scaleY(1);
  opacity: .90;
}

.avatar {
  border-radius: 1rem;
  border-width: 2px;
  border-color: rgb(100 116 139);
}

.first-img{
  animation: first-move 10s forwards, 60s tired 10s forwards;
  top: 0;
  left: calc(50% - 75px);
}

.second-img{
  top:0;
  right: 0;
  animation: middle-move 10s infinite;
}

.third-img{
  bottom: 0;
  animation: third-move 10s infinite;
}

@keyframes first-move {
  0%   {left: calc(50% - 75px); top:0px;}
  25%  {left: calc(100% - 150px); top:0px;}
  50%  {left: calc(100% - 150px); top: calc(100% - 200px);}
  75%  {left:0; top: calc(100% - 200px);}
  100% {left: calc(50% - 75px); top: calc(50% - 100px);}
}

@keyframes tired {
  25% { transform: scaleX(0.5) scaleY(0.5); }
  50% { transform: scaleX(0.3) scaleY(0.3); }
  100% { transform: scaleX(0) scaleY(0); }
}


@keyframes middle-move {
  0%  {left: calc(100% - 150px); top:0px;}
  25%  {left: calc(100% - 150px); top: calc(100% - 200px);}
  50%  {left:0; top: calc(100% - 200px);}
  75% {left:0; top:0px;}
  100% {left: calc(100% - 150px); top:0px;}
}

@keyframes third-move {
  0%  {left:0; top: calc(100% - 200px);}
  25% {left:0; top:0px;}
  50%  {left: calc(100% - 150px); top:0px;}
  75%  {left: calc(100% - 150px); top: calc(100% - 200px);}
  100%  {left:0; top: calc(100% - 200px);}
}