
.second-img{
    top:0;
    right: 0;
    animation: second-move 10s infinite;
}
  
.third-img{
    bottom: 0;
    animation: third-move 10s infinite;
}

  
@keyframes second-move {
    0%  {left: calc(100% - 150px); top:0px;}
    25%  {left: calc(100% - 150px); top: calc(100% - 200px);}
    50%  {left:0; top: calc(100% - 200px);}
    75% {left:0; top:0px;}
    100% {left: calc(100% - 150px); top:0px;}
}
  
@keyframes third-move {
    0%  {left:0; top: calc(100% - 200px);}
    25% {left:0; top:0px;}
    50%  {left: calc(100% - 150px); top:0px;}
    75%  {left: calc(100% - 150px); top: calc(100% - 200px);}
    100%  {left:0; top: calc(100% - 200px);}
}